<html>

<head></head>

<body>
    <h1>PlateLoader Server</h1>
    <hr>
    <p id="response">The robot response will show up here.</p>
    <hr>
    <button id="reset">RESET</button>
    <hr>
    <button id="extend">EXTEND</button>
    <button id="retract">RETRACT</button>
    <hr>
    <button id="open">OPEN</button>
    <button id="close">CLOSE</button>
    <hr>
    <button id="x1">X 1</button>
    <button id="x2">X 2</button>
    <button id="x3">X 3</button>
    <button id="x4">X 4</button>
    <button id="x5">X 5</button>
    <hr>
    <input type="number" value="1" id="moveFrom">
    <input type="number" value="5" id="moveTo">
    <button id="move">MOVE</button>
    <hr>
    <button id="loaderStatus">LOADER_STATUS</button>
    <hr>

    <!-- The script must be LAST! -->
    <script src="/static/main.js"></script>
</body>

</html>